.Task{
    width: 80%;
    position: relative;
    border-radius: 12px;
    border: thin solid gray;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 4px auto;
   }

.Task:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.Task_done{
    background: gray;
    text-decoration: line-through;
}


input[type=checkbox], label{
    vertical-align: middle;

}


input[type=checkbox]{
   
    cursor: pointer;
    width: 2em;
    height: 2em; 
    
    margin-right: 7px; 
   
}




input[type='checkbox']:before {
   
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;   
    background: rgb(224,224,224);
    border: 1px solid rgb(224,224,224);

    
    }

input[type='checkbox']:checked:before {
    line-height: 1.5em;
    content: '✔';
    color: green;
    text-align: center;
    border: 1px solid rgb(224,224,224);

}


input[type='checkbox']:hover:before {
   
       border: 1px solid green;
    }