.Task{
    width: 80%;
    position: relative;
    border-radius: 16px;
    border-width: thin;
    padding: 16px;
    border-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 4px auto;
   

}

