.Task{
    width: 80%;
    position: relative;
    height: 60px;
    border-radius: 16px;
    border-width: thin;
    padding: 8px;
    border-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 16px auto;

}