.Header{
    background-color: #2C9191;
    height: 40px;
    position: fixed;
    top: 0px;
    width: 100%;
    
    z-index: 1000;
}

.ControlPanel{
    width: 25%;
   
    float: left;
    padding-top: 40px;
}

.Tasks{
    width: 75%;
    height: 100%;
    float: left;
    padding-top: 40px;
}

.Stats{
   
    width: 80%;
    position: relative;
    border-radius: 8px;
    border: thin solid gray;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px 20px ;
    
    background-color: white;
    text-align: left; 
}


