.Header{
    background-color: #2C9191;
    height: 40px;
    position: fixed;
    top: 0px;
    width: 100%;
    
    z-index: 1000;
}

.ControlPanel{
    width: 25%;
   
    float: left;
    padding-top: 40px;
}

.Tasks{
    width: 75%;
    height: 100%;
    float: left;
    padding-top: 40px;
}

.Stats{
   
    width: 200px;
    height: 60px;
    position: relative;
    border-radius: 8px;
    border: 4px solid #2C9191;
    padding: 16px;
  
    margin: 20px 50px ;
    background-color: white;
    text-align: center; 
    float:right;
    border-radius: 10px 10px 10px 2px;

}
.Stats:hover{
    background-color:wheat;
}


