.Daily{
    width: 60%;
    background-color:lightgrey;
    float: left;


}

.Weekly{
    width: 40%;
    float: left;
}


.AddNewTask
{
    text-align: center; 
}


.NewTask{
    width: 80%;
    position: relative;
    border-radius: 8px;
    border: thin solid gray;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 4px auto;
    margin-top: 20px;
    background-color: white;
    text-align: left; 
   }

.NewTask:hover{
    background-color:wheat;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
